@charset "UTF-8";

/*
    HTML --> id | CSS --> # (NÃO PODE existir mais de 1 "id" com o mesmo valor)
    HTML --> class | CSS --> . (PODE existir mais de 1 "class" com o mesmo valor)
*/

body{
    background-color: #bafacf;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #297542
}

h1#principal{
    text-align: center;
    background-color: #297542;
    color: white;
}

.basico{
    color: #56F78C;
}

.intermediario{
    color: #b9f756;

}

.avancado{
    color: #f75656;

}

.destaque{
    background-color: rgba(163, 163, 71, 0.788);
}